{% extends 'base.html' %}



{% block content %}
<style>
    table{
        width: 99%;
    }
    th{
        padding: 4px;
    }
    td{
        padding: 4px;
    }
</style>
<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%; height: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header text-white" style="background-color: #1E3A8A;" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações da classe
                </h5>
                <a href="/listar_classe/" class="btn" 
                style="background: #3B82F6; color: #fff;">
                    lista
                </a>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>classe:</strong></div>
                    <div class="col-sm-9">{{ classe.denominacao }} Classe</div>
                </div>
                
            </div>


        </div>

            {% if not turma and request.user.role.nome == 1  or request.user.role.nome == 3 %}
                <button onclick="confirmardelecao('{{classe.id}}')" class="btn btn-outline-danger" title="Deletar">
                    Eliminar
                </button>
            {% endif %}

    </div>

    <div id="modalconfirmacao" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border-radius: 8px; min-width: 300px;">
            <h3>confirmar exclusão</h3>
            <p id="mensagemconfirmacao">Tem certeza que deseja deletar esta disciplina?</p>

            <div id="sms" style="color: red;"></div>
            
            <div style="text-align: right; margin-top: 20px;">
                <button onclick="fecharmodal()" class="btn" style="background: #6c757d; color: white; margin-right: 10px;">
                    sair
                </button>
                <button onclick="deletarItem()" class="btn btn-danger">
                    confirmar
                </button>
            </div>
        </div>
    </div>

    <script>
        let itemparadeletar = null;
        
        function confirmardelecao(itemid) {
            itemparadeletar = itemid;
            document.getElementById('modalconfirmacao').style.display = 'block';
        }
        
        function fecharmodal() {
            document.getElementById('modalconfirmacao').style.display = 'none';
            itemparadeletar = null;
        }
        
        async function deletarItem() {
            const sms = document.getElementById('sms');

            try {
            const response = await fetch(`/delete_classe/${itemparadeletar}/`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
                },
                
            });

            if (response.ok) {
                sms.innerText = "Disciplina eliminada com sucesso!";
                sms.style.color = "green";
                window.location.href = `http://${location.host}/listar_classe`
              
            } else {
                const data = await response.json();
                sms.innerText = data.error || "Erro ao deletar o item!";
                sms.style.color = "red";
            }

            } catch (error) {
            console.log(error);
            sms.innerText = "Erro de conexão com o servidor.";
            sms.style.color = "red";
            }
        }
        
        
        document.getElementById('modalconfirmacao').onclick = (e)=>{
            if (e.target === this) {
                fecharmodal();
            }
        }
    </script>
   
</div>
{% endblock %}

