{% extends 'director/base.html' %}

{% block breadcrumb %}
    <a href="{% url 'turma_list' %}">Turmas</a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <spn class="current">{{turma.designacao}}</spn>
{% endblock breadcrumb %}

{% block title %}
    Turma 
{% endblock title %}
    
{% block sub_title %}
    Informações mais detalhadas da turma {{turma.designacao}}
{% endblock sub_title %}

{% block icon %}
    <i class="fa fa-eye" aria-hidden="true"></i>
{% endblock icon %}

{% block topbar_actions %}
    <a onclick="history.back()" class="btn btn-primary" style="width: 100px;"> <i class="fa fa-arrow-left" aria-hidden="true"></i> voltar</a>
{% endblock topbar_actions %}

{% block content %}

<style>
    table{
        width: 99%;
    }
    th{
        padding: 4px;
    }
    td{
        padding: 4px;
    }

    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @media (max-width: 700px) {
        .container-grid{
            grid-template-columns: 1fr;
        }
    }

    .card{
        padding: 20px;
        font-size: 10pt;

    }

    .card-info{
        position: relative;
        overflow: hidden;
        border-radius: 16px;
    }
    .card-info::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        background: blue;
    }
</style>
<div class="container-fluid">
    <div class="container-grid">
        
        <div class="card card-info">

            <div class="row mb-3">
                <div class="col-sm-4"><strong>Turma:</strong></div>
                <div class="col-sm-8">{{ turma.designacao }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Ano lectivo:</strong></div>
                <div class="col-sm-8">{{ turma.ano_lectivo }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Curso:</strong></div>
                <div class="col-sm-8">{{ turma.curso.nome }}</div>
            </div>
             <div class="row mb-3">
                <div class="col-sm-4"><strong>Classe:</strong></div>
                <div class="col-sm-8">{{ turma.classe.designacao }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Período:</strong></div>
                <div class="col-sm-8">{{ turma.periodo}}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Sala:</strong></div>
                <div class="col-sm-8">{{ turma.sala|default:"Sem Informações" }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Capacidade máxima:</strong></div>
                <div class="col-sm-8">{{ turma.capacidade_maxima|default:"Sem Informações" }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4"><strong>Vagas disponíveis:</strong></div>
                <div class="col-sm-8">{{ turma.vagas_disponiveis|default:"Sem Informações" }}</div>
            </div>  
        </div>

        <div class="card card-info">
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Classificação positiva:</strong></div>
                <div class="col-sm-7">{{ turma.classificacao_positiva|default:"Sem Informações" }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Classificação negaiva:</strong></div>
                <div class="col-sm-7">{{ turma.classificacao_negativa }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Máxima positiva:</strong></div>
                <div class="col-sm-7">{{ turma.valor_maximo }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Mínima negativa:</strong></div>
                <div class="col-sm-7">{{ turma.valor_minimo }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Preço da propina:</strong></div>
                <div class="col-sm-7">{{ turma.preco_propina|default:"Sem Informações" }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Preço da matrícula:</strong></div>
                <div class="col-sm-7">{{ turma.preco_matricula|default:"Sem Informações" }}</div>
            </div>   
            <div class="row mb-3">
                <div class="col-sm-5"><strong>Preço da confirmação:</strong></div>
                <div class="col-sm-7">{{ turma.preco_confirmacao|default:"Sem Informações" }}</div>
            </div>

        </div>
    </div>

    
    {% if funcionario.tipo_funcionario == 'Professor' %}
    
        <div class="card mt-2">

            <h6>As turmas que este professor está associado</h6>

            {% for turma in turmas %}
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>turma:</strong></div>
                    <div class="col-sm-9">{{ turma.turma}}</div>
                </div>
                
            {%empty%}
                <div colspan="6" class="text-center text-muted py-4">
                    <i class="fas fa-inbox fa-2x mb-2"></i>
                    <br>Nenhuma turma vinculada a este professor.
                </div>
            {% endfor %}
        </div>

        <div class="card mt-2">

            <h6>disciplina do Professores</h6>

            {% for disc in disciplinas %}
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Nome:</strong></div>
                    <div class="col-sm-9">{{ disc.disciplina.nome}}</div>
                </div>
            {%empty%}
                    <div colspan="6" class="text-center text-muted py-4">
                    <i class="fas fa-inbox fa-2x mb-2"></i>
                    <br>Nenhuma disciplina vinculada a este professor.
                </div>
            {% endfor %}
        </div>

        <div class="card mt-2">
            <h6>Horário do professores</h6>
            {% for h in horario %}
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Turma:</strong></div>
                    <div class="col-sm-9">{{ h.turma}}</div> 
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Disciplina:</strong></div>
                    <div class="col-sm-9">{{ h.disciplina}}</div> 
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Dia da semana:</strong></div>
                    <div class="col-sm-9">{{ h.get_dia_semana_display}}</div> 
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Hora início/ Hora Fim:</strong></div>
                    <div class="col-sm-9">{{ h.hora_inicio}} / {{h.hora_fim}}</div> 
                </div>
                <hr>
            {%empty%}
                    <div colspan="6" class="text-center text-muted py-4">
                    <i class="fas fa-inbox fa-2x mb-2"></i>
                    <br>Nenhum horário vinculado a este professor.
                </div>
            {% endfor %}

        </div>
    {% endif %}
   
</div>
{% endblock %}

