{% extends 'base.html' %}



{% block content %}
<style>
    table{
        width: 99%;
    }
    th{
        padding: 4px;
    }
    td{
        padding: 4px;
    }
</style>
<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%; height: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header text-white" style="background-color: #1E3A8A;" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações do usuário {{usuario.nome_completo}}
                </h5>
                <a href="/lista_usuario/" class="btn" 
                style="background: #3B82F6; color: #fff;">
                    lista
                </a>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Nome Completo:</strong></div>
                    <div class="col-sm-9">{{ usuario.nome_completo }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Nome do usuário:</strong></div>
                    <div class="col-sm-9">{{ usuario.username }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>E-mail:</strong></div>
                    <div class="col-sm-9">{{ usuario.email }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Função no sistema:</strong></div>
                    <div class="col-sm-9">{{ usuario.role.get_nome_display}}</div>
                </div>
                
                
            </div>
        </div>
    </div>
   
</div>
{% endblock %}

