{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        td, th{
            align-items: start;
            text-align: start;
        }
    </style>
</head>
<body>
  
    <div style="display: flex; width: 100%; align-items: center; justify-content: center; flex-direction: column;">

        <div style="display: flex; width: 97%; justify-content: space-between; align-items: center;">
            <h1 style="margin-left: 20px;" >Lista das disciplinas</h1>

            <form action="/listar_notas/" method="get" 
                class="btn-group btn-group-sm">

                <input type="search" name="nome_filter" style="border-radius: 4px 0px 0px 4px;"
                class="form-control" placeholder="Nome da disciplina ou abreviatura">

                <button class="btn btn-primary"><i class="bi bi-search"></i></button>

            </form>
        </div>

        <div class="card" style="display:flex; width: 97%; align-self: center;">

            <form method="get" class="form-inline mb-3" style="padding: 12px; height: 7px;">
                <input style='border: 1px solid orange; width: 70px;'
                    type="number" 
                    id="per_page" 
                    name="per_page" 
                    class="form-control form-control-sm" 
                    min="1" 
                    max="200" 
                    value="{{ per_page|default:20 }}" 
                    onchange="this.form.submit()"
                    
                >
            </form>

            <div class="card-body" style="border-radius: 4px;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    Nome da disciplina
                                    <a href="?order_by=disciplina{% if nome_filter %}&nome_filter={{ nome_filter|urlencode  }}{% endif %}"
                                    >
                                        <i class="bi bi-arrow-down-up"></i>
                                    </a>
                                    <a href="/listar_disciplina/?{% if nome_filter %}nome_filter={{ nome_filter|urlencode  }}{% endif %}"> <i class="bi bi-eraser" style="font-size: 1.1rem; margin-left: 5px;"></i></a>
                                </th>
                                
                                <th>Abreviatura</th>
                                <th>Classe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disciplina in disciplinas %}
                            <tr>
                                <td><a href="{% url "adicionar_notas" id_turma disciplina.id%}">{{ disciplina.nome }}</a></td>
                                <td>{{ disciplina.abreviatura }}</td>
                                <td>{{ disciplina.classe.denominacao }}</td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-muted py-4">
                                    <i class="fas fa-inbox fa-2x mb-2"></i>
                                    <br>Nenhum registro encontrado.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if disciplinas.has_other_pages %}
                    <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                        {% if disciplinas.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page={{ disciplinas.previous_page_number }}&per_page={{per_page}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in disciplinas.paginator.page_range %}
                            {% if disciplinas.number == num %}
                                <li class="page-item active">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&per_page={{per_page}}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% if disciplinas.has_next %}
                        
                        <li class="page-item">
                            <a class="page-link" href="?page={{ disciplinas.next_page_number }}&per_page={{per_page}}" aria-label="Próximo">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock  %}