{% extends 'base.html' %}



{% block content %}
<style>
    table{
        width: 99%;
    }
    th{
        padding: 4px;
    }
    td{
        padding: 4px;
    }
</style>
<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%; height: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header text-white" style="background-color: #1E3A8A;" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações do estudante {{estudante.nome_completo}}
                </h5>
                <a href="/alunos/" class="btn" 
                style="background: #3B82F6; color: #fff;">
                    lista
                </a>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Nome Completo:</strong></div>
                    <div class="col-sm-9">{{ aluno.nome_completo }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Filho de:</strong></div>
                    <div class="col-sm-9">{{ aluno.nome_pai }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>E de:</strong></div>
                    <div class="col-sm-9">{{ aluno.nome_mae }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Natural de:</strong></div>
                    <div class="col-sm-9">{{ aluno.naturalidade }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Província:</strong></div>
                    <div class="col-sm-9">{{ aluno.provincia }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Município:</strong></div>
                    <div class="col-sm-9">{{ aluno.municipio }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de nascimento:</strong></div>
                    <div class="col-sm-9">{{ aluno.data_nascimento }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Idade:</strong></div>
                    <div class="col-sm-9">{{ aluno.idade }} Anos</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Género:</strong></div>
                    <div class="col-sm-9">{{ aluno.get_genero_display}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Telefone:</strong></div>
                    <div class="col-sm-9">{{ aluno.telefone }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Número de B.I:</strong></div>
                    <div class="col-sm-9">{{ aluno.bi }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de emissão:</strong></div>
                    <div class="col-sm-9">{{ aluno.data_emissao_bi }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Endereço completo:</strong></div>
                    <div class="col-sm-9">{{ aluno.endereco_completo|default:"Sem informações" }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Bairro:</strong></div>
                    <div class="col-sm-9">{{ aluno.bairro|default:"Sem informações" }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Criado em:</strong></div>
                    <div class="col-sm-9">{{ aluno.data_criacao }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Criado Por:</strong></div>
                    <div class="col-sm-9">{{ aluno.criado_por.get_full_name }}</div>
                </div>

                <hr>
                <h3>Dados da matrícula</h3> <br>

                {% for matricula in matriculas %}
                
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>Classe:</strong></div>
                        <div class="col-sm-9">{{ matricula.turma.classe }} classe</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>Turma:</strong></div>
                        <div class="col-sm-9">{{ matricula.turma }}</div>
                    </div>
                    <hr>
                {% empty %}
                    <div colspan="6" class="text-center text-muted py-4">
                        <i class="fas fa-inbox fa-2x mb-2"></i>
                        <br>Estudante ainda não foi matriculado neste ano letivo.
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
   
</div>
{% endblock %}

