{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        td, th{
            align-items: start;
            text-align: start;
        }
    </style>
</head>
<body>
  
    <div style="display: flex; width: 100%; align-items: center; justify-content: center; flex-direction: column;">

        <div style="display: flex; width: 97%; justify-content: space-between; align-items: center;">
            <h1 style="margin-left: 20px;" >Lista das turmas do ano lectivo {{ano_letivo}} </h1>

            
        </div>

        <div style="display: flex; width: 97%; justify-content: space-between; align-items: center; margin-bottom: 10px;">

            <form action="/turmas" method="get"  style="display: flex; gap: 20px;">

                <select name="ano_lectivo" id="ano_lectivo" class="form-control" style="width: 300px;">
                    <option value="">Ano lectivo</option>
                    {% for ano_letivo in anos_lectivos %}
                        <option value="{{ano_letivo.id}}">{{ano_letivo}}</option>
                    {% endfor %}
                </select>

                <select name="classe" id="classe" class="form-control" style="width: 300px;">
                    <option value="">Classe</option>
                    {% for classe in classes %}
                        <option value="{{classe.id}}">{{classe}}</option>
                    {% endfor %}
                </select>


                <select name="curso" id="curso" class="form-control" style="width: 300px;">
                    <option value="">Curso</option>
                    {% for curso in cursos %}
                        <option value="{{curso.id}}">{{curso}}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-primary"><i class="bi bi-search"> Buscar</i></button>

            </form>
        </div>

        <div class="card" style="display:flex; width: 97%; align-self: center;">

            <div style="display: flex; width: 97%; justify-content: space-between; align-items: center;">
                <h1 style="margin-left: 20px;" class="text-warning"></h1>

                <a href="/turmas/criar/" class="btn btn-success" style="display:flex; height: 40px; gap: 10px;">
                    <i class="bi bi-plus-circle" aria-hidden="true"></i></i>Novo
                </a>
            
            </div>

            <form method="get" class="form-inline mb-3" style="padding: 12px; height: 7px;">
                <input style='border: 1px solid orange; width: 70px;'
                    type="number" 
                    id="per_page" 
                    name="per_page" 
                    class="form-control form-control-sm" 
                    min="1" 
                    max="200" 
                    value="{{ per_page|default:20 }}" 
                    onchange="this.form.submit()"
                    
                >
            </form>

            <div class="card-body" style="border-radius: 4px;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    Nome da turma
                                    <a href="?order_by=designacao{% if ano_lectivo %}&ano_lectivo={{ ano_lectivo|urlencode  }}{% endif %}{% if classe %}&classe={{ classe|urlencode  }}{% endif %}{% if curso %}&curso={{ curso|urlencode  }}{% endif %}"
                                    >
                                        <i class="bi bi-arrow-down-up"></i>
                                    </a>
                                    <a href="/turmas/?{% if ano_lectivo %}ano_lectivo={{ ano_lectivo|urlencode  }}{% endif %}"> <i class="bi bi-eraser" style="font-size: 1.1rem; margin-left: 5px;"></i></a>
                                </th>
                                
                                <th>Classe</th>
                                <th>Período</th>
                            
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for turma in turmas %}
                            <tr>
                                <td><a href="{% url "turma_estudante_list" turma.id%}">{{ turma }}</a></td>
                                <td>{{ turma.classe }}</td>
                                <td>{{ turma.turno }}</td>
                                
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="{% url "turma_detail" turma.id %}" 
                                            class="btn btn-outline-primary" title="Ver detalhes">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        
                                        <a href="{% url "turma_update" turma.id %}" 
                                            class="btn btn-outline-warning" title="Editar">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-muted py-4">
                                    <i class="fas fa-inbox fa-2x mb-2"></i>
                                    <br>Nenhum registro encontrado.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if turmas.has_other_pages %}
                    <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                        {% if turmas.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page={{ turmas.previous_page_number }}&per_page={{per_page}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in turmas.paginator.page_range %}
                            {% if turmas.number == num %}
                                <li class="page-item active">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&per_page={{per_page}}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% if turmas.has_next %}
                        
                        <li class="page-item">
                            <a class="page-link" href="?page={{ turmas.next_page_number }}&per_page={{per_page}}" aria-label="Próximo">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</body>
</html>
{% endblock  %}